img {
    width: 600px;
}
h1{
    color:#426daf;
}
p{
   color:#26416b;
}
body{
   text-align :center;
}
body{
    background: #131d2d;
}
ul{
    color:#686d31;
}
body{
    font-family: 'Hanalei Fill', cursive;
}
p{
    font-size:30px;
}